.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
  }
  
  .modal-content {
    background-color: #fff;
    padding: 30px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px; 
    position: relative; 
  }
  
  .close {
    position: absolute;
    font-size: 5px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size-adjust: 5px;
  }
  
  
  form-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    display: block;
    font-size: 16px; 
  }
  
  input {
    width: 100%; 
    padding: 10px; 
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  